<div class="container">
  <div class="row">


      <!--          <mat-form-field appearance="outline">-->
      <!--            <mat-label>Surname</mat-label>-->
      <!--            <input matInput placeholder="Placeholder">-->
      <!--            <mat-hint>Hint "Clark"</mat-hint>-->
      <!--          </mat-form-field>-->
      <!--        </div>-->


<form class="col s12" #form="ngForm" autocomplete="off">

  <div class="row">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="student.id">
    <div class="form-group">
      <div class="input-field col s12 m4">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
            <input matInput placeholder="Placeholder" id="name" type="text" class="form-control" name="name" #name="ngModel"
               [(ngModel)]="student.name" >
            <label [ngClass]="{'active': student.name}" for="name"></label>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <div class="input-field col s12 m4">
        <mat-form-field appearance="outline">
          <mat-label>Surname</mat-label>
          <input matInput placeholder="Placeholder" id="surname" type="text" class="form-control" name="surname" #name="ngModel"
                 [(ngModel)]="student.surname" >
          <label [ngClass]="{'active': student.surname}" for="surname"></label>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="input-field col s12 m4">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Placeholder" id="email" type="text" class="form-control" name="email" #email="ngModel"
                 [(ngModel)]="student.email" >
          <label [ngClass]="{'active': student.email}" for="email"></label>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <div class="input-field col s12 m4">
        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input matInput placeholder="Placeholder" id="age" type="text" class="form-control" name="age" #age="ngModel"
                 [(ngModel)]="student.age" >
          <label [ngClass]="{'active': student.age}" for="age"></label>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="input-field col s12 m4">
        <mat-form-field appearance="outline">
          <mat-label>Grade</mat-label>
          <input matInput placeholder="Placeholder" id="grade" type="text" class="form-control" name="grade" #grade="ngModel"
                 [(ngModel)]="student.grade" >
          <label [ngClass]="{'active': student.grade}" for="grade"></label>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <div class="col s12 m4">
        <i class="material-icons prefix">check</i> Active
        <mat-slide-toggle class="form-control" name="active" #active="ngModel"
          [(ngModel)]="student.active">
        </mat-slide-toggle>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="input-field col s12 left">
      <button class=" btn waves-effect mat-raised-button mat-primary" (click)="onSave(form)">Salvare</button>
      &nbsp;&nbsp;&nbsp;
      <button class=" btn waves-effect mat-raised-button mat-primary" routerLink="/students">Inapoi </button>
    </div>
  </div>
</form>


  </div>
</div>
