.track{
  stroke: lightgray;
  stroke-width: 10;
  fill: none;
}

.progress{
  stroke-width: 10;
  stroke: rgb(59, 56, 56);
  stroke-linecap: round;
  fill: none;
  stroke-dasharray: 320;
  /*stroke-dashoffset: 0;*/
  transform: rotate(-90deg);
  transform-origin: center;
}

@keyframes animate {

}
