/*.getSelection button{*/
/*  border: 2px solid rgba(188, 197, 229,0);*/
/*  transition: 0.3s;*/
/*}*/

/*.getSelection button:focus{*/
/*  border: 2px solid rgb(123, 226, 102);*/
/*}*/

/*.title h1{*/
/*  text-align: center;*/
/*  font-size: 4rem;*/
/*}*/

/*.answers-form button{*/
/*  width: 100%;*/
/*  text-align: left;*/
/*  border: 2px solid rgba(188, 197, 229,0);*/
/*  transition: 0.3s;*/
/*}*/

/*.answers-form button:focus{*/
/*  border: 2px solid rgb(123, 226, 102);*/
/*}*/

/*.box{*/
/*  display: block;*/
/*  position: absolute;*/
/*  top: 10px;*/
/*  left:80%;*/
/*  width: 60px;*/
/*  height: 60px;*/
/*  border-radius: 50%;*/
/*  box-shadow: 0 0 10px rgba(103, 104, 110, 0.7);*/
/*}*/

/*.track{*/
/*  stroke: lightgray;*/
/*  stroke-width: 10;*/
/*  fill: none;*/
/*}*/

/*svg{*/
/*  position: relative;*/
/*  top: -20px;*/
/*  left: -20px;*/

/*}*/

/*.progress{*/
/*  display: block;*/
/*  cursor: pointer;*/
/*  fill: none;*/
/*  stroke-width: 5;*/
/*  stroke-linecap: round;*/
/*  stroke-dasharray: 160;*/
/*  !*stroke-dashoffset: 0;*!*/
/*  transform: rotate(-90deg);*/
/*  transform-origin: center;*/
/*  animation: left 4s linear;*/
/*}*/



/*.box .number{*/
/*  position: relative;*/
/*  justify-content: center;*/
/*  content: '';*/
/*  align-items: center;*/
/*  text-align: center;*/
/*  top: -85px;*/
/*}*/
