<form [formGroup]="orderForm">


  <mat-card style="background-color: whitesmoke">
    <div class="items" style="width: 100%">

      <mat-card-header>
        <mat-card-title>
          <h4> Question: {{ orderForm.controls.question.value }}</h4>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-form-field appearance="outline" style="left: 20px">
            <mat-label>Question</mat-label>
            <input matInput formControlName="question">
          </mat-form-field>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content style="display: inline-grid">
        <mat-divider></mat-divider>
        <div formArrayName="possibleAnswerList"
             *ngFor="let item of orderForm.get('possibleAnswerList')['controls']; let i = index;">
          <div [formGroupName]="i" style="padding-top: 10px">


            <input formControlName="correct" type="checkbox">

            <mat-form-field appearance="outline">
              <mat-label>Add Answer</mat-label>
              <input matInput formControlName="name" placeholder="Answer">
            </mat-form-field>



            <mat-icon style="cursor:pointer;" class="mat-accent" (click)="removeItem(i)">delete_forever</mat-icon>

          </div>


        </div>

      </mat-card-content>
    </div>

    <mat-action-row>
      <button style="color: deepskyblue" mat-button (click)="addItem()">
        <mat-icon >post_add</mat-icon>
        Add Answers
      </button>



        <button class="mat-primary" mat-button (click)="saveQuestion()">
          <mat-icon >save</mat-icon>
          Save Question
        </button>

    </mat-action-row>


  </mat-card>


  <div>


  </div>

</form>
