.student-icon{
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  left: 10px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_msp-wGjMqbYatrEdRT9xuj2ILy09TWxoaw&usqp=CAU');
  background-size: cover;
}

.student-info{
  position: relative;
  left: 100px;
  top: 0px;
  margin: 0;
}

.mat-accordion {
  margin-top: 10px;
  background: whitesmoke;
}

.checkbox{

}

label{
  position: relative;
  padding-right: 20px;
}

input[type="checkbox"]{
  display: none;
}

label::before{
  content: "";
  background: url("src/img/checkboxV2.svg");
  background-position: center;
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -10px;
  left: -10px;

  transform: scale(0) rotateZ(180deg);
  transition: all 0.4s cubic-bezier(0.54,0.01,0,1.49);
}

input[type="checkbox"]:checked + label::before{
  transform: scale(1) rotateZ(0deg);
}

label::after{
  content: "";
  border: 2px solid #279f5a;
  width: 23px;
  height: 23px;
  position: absolute;

  left: -8px;
  top: -8px;
  border-radius: 20%;

}
