
<!-- Simple buttons-->
<button *ngIf="students.length === 0" mat-raised-button color="accent" style="margin-left: 5px"  routerLink="/student/form/add">
  Create First Student
</button>

<mat-card *ngIf="students.length === 0" style="color: red; top: 20px;margin-left: 5px" >
  No students Found !
</mat-card>

<!--List of students-->
<mat-nav-list *ngIf="students.length >= 1">

  <button mat-raised-button color="accent" style="margin-left: 5px"  routerLink="/student/form/add">Add Student</button>

      <div  style="padding: 5px; margin-top: 15px;" *ngFor="let student of students">

        <mat-accordion class="mat-accordion" hideToggle >
          <mat-expansion-panel [disabled]="clickButton" (click)="clickButton=true" >

            <mat-expansion-panel-header>

              <button *ngIf="arrowVerse===true" mat-icon-button (click)="moveUp()" style="color: black"><mat-icon>keyboard_arrow_up</mat-icon></button>
              <button *ngIf="arrowVerse===false" mat-icon-button (click)="moveDown()" style="color: black"><mat-icon>keyboard_arrow_down</mat-icon></button>

              <mat-panel-title style="align-items: center">
                <mat-icon style="color: black" >account_box</mat-icon>
                &nbsp;&nbsp;
<!--                <mat-slide-toggle (click)="deactivateExpander()"  (change)="changeStatusStudent(student)" class="form-control" name="active" #active="ngModel" [(ngModel)]="student.active"></mat-slide-toggle>-->
                &nbsp;&nbsp;
                <div class="checkbox">
                  <input type="checkbox" (click)="deactivateExpander()" (change)="changeStatusStudent(student)" id="{{student.id}}" class="form-control" name="active" #active="ngModel" [(ngModel)]="student.active">
                    <label for="{{student.id}}"></label>
                </div>
                &nbsp;&nbsp;
                <span style="font-size: 16px;color: black">{{ student.name}} - {{student.surname}}</span>
                &nbsp;&nbsp;
              </mat-panel-title>

              <mat-panel-description>

              </mat-panel-description>

            </mat-expansion-panel-header>
               <div class="panel-info">
                 <div class="student-icon"></div>
                  <div class="student-info">
                    Full-Name: <h1>{{ student.name}} - {{student.surname}}</h1>
                    <mat-divider></mat-divider>
                    <p *ngIf="student.age <= 0 || student.age=== null" >Age:</p> <h1 *ngIf="student.age <= 0 || student.age=== null" >-Unknown-</h1>
                    <p *ngIf="student.age >= 1" >Age:</p>  <h1 *ngIf="student.age >= 1" >{{ student.age}}</h1>
                    <mat-divider></mat-divider>
                    Grade: <h1>{{ student.grade}}</h1>
                    <mat-divider></mat-divider>
                    Email: <h1>{{ student.email}}</h1>
                    <mat-divider></mat-divider>
                  </div>
               </div>
            <br>
            <span style="float: right">
              <mat-icon class="action_buttons" color="warn" (click)="onRemoveStudent(student.id)">delete</mat-icon>&nbsp;&nbsp;
              <mat-icon class="action_buttons" style="color: cornflowerblue" (click)="editStudent(student.id)">edit</mat-icon>&nbsp;&nbsp;
            </span>

          </mat-expansion-panel>
        </mat-accordion>

      </div>

</mat-nav-list>

