<!-- Simple buttons-->
<button *ngIf="profesori.length === 0" mat-raised-button color="accent" style="margin-left: 5px"  routerLink="/professor/form/add">
  Create First Professor
</button>

<mat-card *ngIf="profesori.length === 0" style="color: red; top: 20px; margin-left: 5px" >
  No professor Found !
</mat-card>

<mat-nav-list *ngIf="profesori.length >= 1">

  <button mat-raised-button color="accent" style="margin-left: 5px"  routerLink="/professor/form/add">Add Professor</button>

  <div  style="padding: 5px; margin-top: 15px;" *ngFor="let professor of profesori">
    <mat-accordion class="mat-accordion" hideToggle>
      <mat-expansion-panel [disabled]="clickButton" (click)="clickButton=true" >

        <mat-expansion-panel-header>
          <button *ngIf="arrowVerse===true" mat-icon-button (click)="moveUp()" style="color: black"><mat-icon>keyboard_arrow_up</mat-icon></button>
          <button *ngIf="arrowVerse===false" mat-icon-button (click)="moveDown()" style="color: black"><mat-icon>keyboard_arrow_down</mat-icon></button>
          <mat-panel-title style="align-items: center">
              <mat-icon style="color: black">account_box</mat-icon>
            &nbsp;&nbsp;
<!--              <mat-slide-toggle (click)="deactivateExpander()" (change)="changeStatusProfessor(professor)" class="form-control" name="active" #active="ngModel" [(ngModel)]="professor.active"></mat-slide-toggle>-->
            &nbsp;&nbsp;
            <div class="checkbox">
              <input type="checkbox" (click)="deactivateExpander()" (change)="changeStatusProfessor(professor)" id="{{professor.id}}" name="active" #active="ngModel" [(ngModel)]="professor.active">
              <label for="{{professor.id}}"></label>
            </div>
            &nbsp;&nbsp;
              <span style="font-size: 16px;color: black">{{ professor.name}} - {{professor.surname}}</span>
            &nbsp;&nbsp;
          </mat-panel-title>
          <mat-panel-description>
<!--           Description panel             -->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="panel-info">
          <div class="professor-icon"></div>
          <div class="professor-info">
            Full-Name: <h1>{{ professor.name}} - {{professor.surname}}</h1>
            <mat-divider></mat-divider>
            <p *ngIf="professor.age <= 0 || professor.age=== null" >Age:</p> <h1 *ngIf="professor.age <= 0 || professor.age=== null" >-Unknown-</h1>
            <p *ngIf="professor.age >= 1" >Age:</p>  <h1 *ngIf="professor.age >= 1" >{{ professor.age}}</h1>
            <mat-divider></mat-divider>
            Email: <h1>{{ professor.email}}</h1>
            <mat-divider></mat-divider>
          </div>
        </div>
        <br>
        <span style="float: right">
          <mat-icon class="action_buttons" color="warn" (click)="onRemoveProfessor(professor.id)">delete</mat-icon>&nbsp;&nbsp;
          <mat-icon class="action_buttons" style="color: cornflowerblue" (click)="editProfessor(professor.id)">edit</mat-icon>&nbsp;&nbsp;
        </span>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

</mat-nav-list>

&nbsp;&nbsp;

