<div class="container">
  <div class="row">


    <mat-card>

      <form class="col s12" #form="ngForm" autocomplete="off">

        <div class="row">


          <div class="form-group">
            <div class="input-field col s12">
              <table class="table table-striped table-bordered">
                <tbody>
                <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                  <td>
                    <mat-form-field appearance="fill">
                      <mat-label>value</mat-label>
                      <input matInput placeholder="Add value" id="name" type="text" class="form-control" name="name"
                             #name="ngModel"
                             [(ngModel)]="dynamicArray[i].name">
                    </mat-form-field>
                  </td>
                  <td>
                    <section class="example-section">
                      <mat-checkbox class="form-control" name="correct" #correct="ngModel"
                                    [(ngModel)]="dynamicArray[i].correct"></mat-checkbox>
                      <span style="cursor: pointer" (click)="deleteRow(i)">
                <mat-icon class="{{dynamicArray.length > 1 ? 'enabled-remove' : 'disabled-remove'}}" color="accent">delete_forever</mat-icon>
              </span>
                    </section>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" align="right" style="cursor: pointer" (click)="addRow()">
                    <mat-icon color="primary">add</mat-icon>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>


        <div class="row">
          <div class="input-field col s12 right">
            <button class=" btn waves-effect mat-raised-button mat-primary" >Salvare</button>
          </div>
        </div>


      </form>

    </mat-card>
  </div>
</div>




