
<div class="question-form">

  <div class="card-questions" *ngIf="finishQuestions == false && quizArray.length > 0">
    <mat-card style="background-color: whitesmoke;">
      <mat-card-header>
        <h2>{{quizArray[setQuestion]?.id}}. {{quizArray[setQuestion]?.question}}</h2>
      </mat-card-header>
      <mat-divider></mat-divider>

      <mat-card-content>
        <mat-selection-list [multiple]="false">
          <mat-list-option class="answers-form" *ngFor="let answer of quizArray[setQuestion]?.possibleAnswerList">
            <mat-radio-button style="padding-left: 10px" (click)="getSelectedValue(answer.id,answer.name)">
              <mat-list-item>{{answer.name}}</mat-list-item>
            </mat-radio-button>
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>

      <mat-divider></mat-divider>
      <div style="margin: 0 auto;  text-align: end; padding: 10px;">
        <button *ngIf="setQuestion >=1" mat-raised-button color="accent" (click)="backQuestion()">Back</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)=" postAnswerList();nextQuestion();">Next</button>
      </div>
    </mat-card>
  </div>
    <div class="circular-progress">
      <mat-card style="background-color: whitesmoke; height: 90%">
        <div class="box" >

          <svg width="200" height="200">
            <circle r="50" cx="100" cy="100" class="track"></circle>
            <circle r="50" cx="100" cy="100" [ngStyle]="{'stroke-dashoffset': count, 'stroke':colorStatus}"
                    class="progress"></circle>
          </svg>
          <div class="number">
            {{finalPerShow.toFixed()}}%
          </div>
        </div>
        <h3>Intrebari raspunse: {{answeredQuestions}}/{{quizArray.length}}</h3>
        <h3 *ngIf="answeredQuestions == quizArray.length">Raspunsuri Corecte: {{correctAnswers}}</h3>
        <h3 *ngIf="answeredQuestions != quizArray.length">Raspunsuri Corecte: 0</h3>

        <h3 *ngIf="answeredQuestions == quizArray.length">Raspunsuri Gresite: {{wrongAnswer}}</h3>
        <h3 *ngIf="answeredQuestions != quizArray.length">Raspunsuri Gresite: 0</h3>

        <h3 *ngIf="answeredQuestions == quizArray.length">Rezultat: {{correctAnswers}}/{{quizArray.length}}  Intrebari raspunse. </h3>

      </mat-card>
    </div>

  <div class="check-answers" >
    <mat-card *ngIf="finishQuestions==true " style="background-color: whitesmoke">
      <div *ngFor="let answer of quizArray;" style="background: whitesmoke">

        <mat-card style="background: whitesmoke;margin-top: 5px "> {{answer.question}}</mat-card>

          <mat-card style="background: whitesmoke;margin-top: 5px " >
            {{answer.possibleAnswerList.name}}
          </mat-card>
        </div>
    </mat-card>
  </div>
</div>


<!--<div style="position: static; padding-top: 380px">-->
<!--      <h1>Total Questions: {{quizArray.length}}</h1>-->
<!--      <h1>ID Question: {{setQuestion}}</h1>-->
<!--      <h1>Check Button Selected:{{keepSelectedButton}}</h1>-->
<!--  <h3>Correct Answers: {{correctAnswers}}</h3>-->
<!--      <h1>ID {{setQuestion}} is answered: {{quizArray[this.setQuestion]?.isAnswered}}</h1>-->
<!--      <h1>Answered Questions Done: {{answeredQuestions}}</h1>-->
<!--      <h1>Check if all done: {{finishQuestions}}</h1>-->
<!--  <h3>Percentage: {{finalPerShow.toFixed()}}%</h3>-->
<!--      <h1>Counter: {{count}}</h1>-->
<!--      <h1>ValueDash: {{valueDash}}</h1>-->

<!--</div>-->
