.getSelection button{
  border: 2px solid rgba(188, 197, 229,0);
  transition: 0.3s;
}

.getSelection button:focus{
  border: 2px solid rgb(123, 226, 102);
}

.title h1{
  text-align: center;
  font-size: 4rem;
}

.answers-form button{
  width: 100%;
  text-align: left;
  border: 2px solid rgba(188, 197, 229,0);
  transition: 0.3s;
}

/*.answers-form button:focus{*/
/*  border: 2px solid rgb(123, 226, 102);*/
/*}*/

.question-form{
  display: flex;
  position: absolute;
  top:30%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;

}

.box{
  display: block;
  position: static;
  float: right;
  align-self: end;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(103, 104, 110, 0.7);

}

svg{
  position: relative;
  top: -40px;
  left: -40px;
}

.track{
  stroke: lightgray;
  stroke-width: 10;
  fill: none;
}

.progress{
  display: block;
  cursor: pointer;
  fill: none;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-dasharray: 320;
  /*stroke-dashoffset: 0;*/
  transform: rotate(-90deg);
  transform-origin: center;
  animation: left 4s linear;
}

.box .number{
  position: relative;
  justify-content: center;
  content: '';
  align-items: center;
  text-align: center;
  top: -155px;
}


.circular-progress{
  margin-top:0% ;
  margin-left: 2%;
  width: 100%;
}

.card-questions{
  width: 100%;
  height: 100%;
}

.wrong-answers{
  display: inline-block;
  position: absolute;
  top:60%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
}

.check-answers{
  display: inline-block;
  position: absolute;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
  top: 110%;
}

.card-answers{
  cursor: pointer;
}

.card-answers:hover{
  background-color: antiquewhite;
}
