.tp-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}
.tp-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 290px;
}
.mat-sidenav {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  background-color: whitesmoke;
}

.card-container{
  margin-top: 0;
  width: auto;
  height: 160px;
  background-image: url("src/assets/images/backgrounds/top_menu_background.jpg");
  background-size: auto;
}

.card-icon{
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  top: 25%;
  left: 10%;
  background-image: url('src/assets/images/icons/user.png');
  background-size: cover;
}

.card-text-background{
  position: static;
  /*top:-75px;*/
  background-image: url("src/assets/images/backgrounds/top_menu_background.jpg");
  background-position-y: 300px;
  background-size: cover;
  /*height: 100%;*/
  width: 100%;
  /*right: -50%;*/
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

.card-text-name{
  position: absolute;
  font-size: 16px;
  color: white;
  left: 115px;
  top: 60px;
}
