<mat-sidenav-container class="tp-container">

  <mat-sidenav #sidenav mode="over">

    <div class="card-container">
      <div class="card-icon"></div>
      <div class="card-text-name">
        <span style="font-weight: bold">Akiku Cosmin</span>
        <p style="font-size: 12px;">Muncitor</p>
      </div>
    </div>

    <mat-nav-list>


      <a (click)="sidenav.close()" mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>&nbsp; Home
      </a>
      <a (click)="sidenav.close()" mat-list-item routerLink="/students">
        <mat-icon>people_alt</mat-icon>&nbsp; Studenti
      </a>
      <a (click)="sidenav.close()" mat-list-item routerLink="/student/form/add">
        <mat-icon>person_alt</mat-icon>&nbsp; Formular Student
      </a>
      <mat-divider></mat-divider>
      <a (click)="sidenav.close()" mat-list-item routerLink="/profesori">
        <mat-icon>people_alt</mat-icon>&nbsp; Profesori
      </a>
      <a (click)="sidenav.close()" mat-list-item routerLink="/professor/form/add">
        <mat-icon>person_alt</mat-icon>&nbsp; Formular Profesor
      </a>
      <mat-divider></mat-divider>
      <a (click)="sidenav.close()" mat-list-item routerLink="/news">
        <mat-icon color="warn">rss_feed</mat-icon>&nbsp; News
      </a>
      <mat-divider></mat-divider>
      <a (click)="sidenav.close()" mat-list-item routerLink="/quiz">
        <mat-icon color="primary">quiz</mat-icon>&nbsp; Quiz
      </a>
      <mat-divider></mat-divider>
      <a (click)="sidenav.close()" mat-list-item routerLink="/quiz/form/add">
        <mat-icon color="primary">quiz</mat-icon>&nbsp; Create Question
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>Application</h1>
      </mat-toolbar-row>
    </mat-toolbar>
    <div style="padding: 20px">
      <router-outlet></router-outlet>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
