<div class="container">
  <div class="row">


    <form class="col s12" #form="ngForm" autocomplete="off">

      <div class="row">
        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="professor.id">
        <div class="form-group"><input type="hidden" name="id" #id="ngModel" [(ngModel)]="professor.id">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input input id="name" type="text" class="form-control" name="name" #name="ngModel"
                   [(ngModel)]="professor.name" matInput placeholder="Placeholder">
            <label [ngClass]="{'active': professor.name}" for="name"></label>
          </mat-form-field>
        </div>

        <div class="form-group"><input type="hidden" name="surname" #surname="ngModel" [(ngModel)]="professor.surname">
          <mat-form-field appearance="outline">
            <mat-label>Surname</mat-label>
            <input input id="surname" type="text" class="form-control" name="surname" #surname="ngModel"
                   [(ngModel)]="professor.surname" matInput placeholder="Placeholder">
            <label [ngClass]="{'active': professor.surname}" for="surname"></label>
          </mat-form-field>
        </div>
      </div>

      <div class="row">

        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input input id="email" type="text" class="form-control" name="email" #email="ngModel"
                   [(ngModel)]="professor.email" matInput placeholder="Placeholder">
            <label [ngClass]="{'active': professor.email}" for="email"></label>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Age</mat-label>
            <input input id="age" type="text" class="form-control" name="age" #age="ngModel"
                   [(ngModel)]="professor.age" matInput placeholder="Placeholder">
            <label [ngClass]="{'active': professor.age}" for="email"></label>
          </mat-form-field>
        </div>
      </div>


<!--      -->

      <div class="row">


<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Surname</mat-label>-->
<!--            <input matInput placeholder="Placeholder">-->
<!--            <mat-hint>Hint "Clark"</mat-hint>-->
<!--          </mat-form-field>-->
<!--        </div>-->

      </div>

<!--      -->



      <div class="row">

        <div class="form-group">
          <div class="col s12 m4">
            <i class="material-icons prefix">check</i> Active
            <mat-slide-toggle class="form-control" name="active" #active="ngModel"
                              [(ngModel)]="professor.active">
            </mat-slide-toggle>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="input-field col s12 left">
          <button class=" btn waves-effect mat-raised-button mat-primary" (click)="onSave(form)">Salvare</button>
          &nbsp;&nbsp;&nbsp;
          <button class=" btn waves-effect mat-raised-button mat-primary" routerLink="/profesori">Inapoi </button>
        </div>
      </div>
    </form>


  </div>
</div>
